name: Container build

on:
  push:
    branches: [ "test" ]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: building image
        run: docker build -f Containerfile .
