name: Container build

on:
  push:
    branches: [ "test" ]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: svartastorken/automation-test

jobs:
  build_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: Log in registry
        uses: docker/login-action@v3.6.0
        with: 
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: building and pushing
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ./Containerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:V1
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
